# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Java\Mybatis\SpringMVC_Day01_01QuickStart\SpringMVC_Day01_01QuickStart\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
