# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Java\2.SSM\03.SpringMVC\02.代码\SpringMVC_Day02\SpringMVC_Day02_01Response\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
